<!DOCTYPE html>
<html ng-app="AddressApp">
    <head>
        <title>Address Book</title>
        <link rel="stylesheet" text="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Address Book</h1>
        <div class="container" ng-controller="AddressBookController as address">
            <form name="ContactForm" ng-submit="ContactForm.$valid && address.addContact()">
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input class="form-control" type="text" ng-model="address.newContact.name" required>
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input class="form-control" type="text" ng-model="address.newContact.email" required>
                </div>
                <div class="form-group">
                    <label class="control-label">Phone Number</label>
                    <input class="form-control" type="text" ng-model="address.newContact.phone" required>
                </div>
                <div class="form-group">
                    <label class="control-label">Address</label>
                    <input class="form-control" type="text" ng-model="address.newContact.address" required>
                </div>
                <input type="submit" value="Add Contact" ng-disabled="ContactForm.$invalid">
            </form>

            <div>
                <table class="table bordered-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Address</th>
                            <th>Remove Contact</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contact in address.contacts">
                            <td>{{contact.name}}</td>
                            <td>{{contact.email}}</td>
                            <td>{{contact.phone}}</td>
                            <td>{{contact.address}}</td>
                            <td><button ng-click="address.removeContact(contact)">Remove</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/main.js"></script>
</html>
