<!DOCTYPE html>
<html ng-app="AddressApp">
    <head>
        <title>Address Book</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body>
        <h1>Address Book</h1>
        <div class="container" ng-controller="AddressBookController as address">
            <form name="ContactForm" ng-submit="ContactForm.$valid && address.addContact()">
                <div>
                    <label>Name</label>
                    <input type="text" ng-model="address.newContact.name" required>
                </div>
                <div>
                    <label>Email</label>
                    <input type="text" ng-model="address.newContact.email" required>
                </div>
                <div>
                    <label>Phone Number</label>
                    <input type="text" ng-model="address.newContact.phone" required>
                </div>
                <div>
                    <label>Address</label>
                    <input type="text" ng-model="address.newContact.address" required>
                </div>
                <input type="submit" value="Add Contact" ng-disabled="ContactForm.$invalid">
            </form>

            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Address</th>
                            <th>Remove Contact</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contact in address.contacts">
                            <td>{{contact.name}}</td>
                            <td>{{contact.email}}</td>
                            <td>{{contact.phone}}</td>
                            <td>{{contact.address}}</td>
                            <td><button ng-click="address.removeContact(contact)">Remove</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/main.js"></script>
</html>
